.topic-content-root{
  display: flex;
  flex-direction: column;
  .title{
    font-size: 40px;
    font-weight: bold;
  }
  .description{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .topic-form{
    display: flex;
    flex-direction: column;
    .topic-description{
      display: flex;
      justify-content: space-between;
      span{
        font-weight: bold;
      }
    }
    .checkbox{
      display: flex;
      align-items: center;
      input{
        margin-right: 10px;
        margin-bottom: 0;
        padding: 0;
      }
      label{
        margin-bottom: 0;
      }
    }
    label{
      margin-bottom: 10px;
    }
    textarea{
      outline: none;
      margin-bottom: 30px;
      height: 200px;
    }
    input{
      outline: none;
      padding: 5px;
      margin-bottom: 30px;
    }
    .error{
      font-size: 12px;
      color: #ff0000;
      margin-bottom: 20px;
    }
    button{
      margin-top: 30px;
      border: none;
      padding: 10px 0;
      background-color: #000;
      color: #fff;
      outline: none;
      cursor: pointer;
      max-width: 50%;
      margin-bottom: 30px;
    }
  }
}
