<div class="main-wrapper" *ngIf="loginService?.signedUser?.authToken;else sign_out">
  <header>
    <img src="../assets/img/search.png" alt="SEARCH ICON"/>
    <img src="../assets/img/notification.png" alt="NOTIFICATION ICON"/>
    <figure>
      <img src=""/>
      <span>Anna Smith</span>
    </figure>
  </header>
  <section class="middle-part">
    <aside>
      <ol>
        <li [ngClass]="{'selected': checkPagePosition('location')}">Category and location
        <span *ngIf="checkPagePosition('topic') || checkPagePosition('media')
        || checkPagePosition('preview')"><img src="../assets/img/check.png" alt="CHECK"/></span>
        </li>
        <li [ngClass]="{'selected': checkPagePosition('topic')}">Topic content
        <span *ngIf="checkPagePosition('media') || checkPagePosition('preview')"><img src="../assets/img/check.png" alt="CHECK"/></span>
        </li>
        <li [ngClass]="{'selected': checkPagePosition('media')}">Media
        <span *ngIf="checkPagePosition('preview')"><img src="../assets/img/check.png" alt="CHECK"/></span>
        </li>
        <li [ngClass]="{'selected': checkPagePosition('preview')}">Preview
<!--        <span *ngIf="checkPagePosition('preview')"><img src="../assets/img/check.png" alt="CHECK"/></span>-->
        </li>
      </ol>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
  <footer>
    <div class="footer">
      <div class="first-section">
        <div class="first-section-part">
          <span class="name">Tel:</span>
          <span class="name">Mail:</span>
        </div>
        <div class="first-section-part">
          <span class="data">+374011111</span>
          <span class="data">charity@gmail.com</span>
        </div>
      </div>
      <div class="second-section">
        <span class="title">Company</span>
        <span class="data">Home</span>
        <span class="data">Projects</span>
        <span class="data">Comunity</span>
        <span class="data">About Us</span>
        <span class="data">News</span>
      </div>
      <div class="third-section">
        <span class="title">Help and Support</span>
        <span class="data">FAQ</span>
        <span class="data">Terms and Conditions</span>
        <span class="data">Privacy Policy</span>
        <span class="data">Contacts</span>
        <span class="data">News</span>
      </div>
      <div class="fourth-section">
        <span class="title">Follow us in social</span>
        <div class="social-icons">
          <img src="../assets/img/facebook.png" alt="FACEBOOK"/>
          <img src="../assets/img/twitter.png" alt="TWITTER"/>
          <img src="../assets/img/linkedin.png" alt="LINKEDIN"/>
          <img src="../assets/img/instagram.png" alt="INSTAGRAM"/>
        </div>
        <div class="subscribe">
          <span class="title">Subscribe for new projects</span>
          <input type="text" placeholder="Your email"/>
        </div>
      </div>
    </div>
  </footer>
</div>
<ng-template #sign_out>
  <app-login></app-login>
</ng-template>
