.media{
  display: flex;
  flex-direction: column;
  .title{
    font-size: 40px;
    font-weight: bold;
  }
  .description{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .image-upload-container {
    display: flex;
    align-items: center;
    .img-container {
      width: 180px;
      height: 180px;
      box-shadow: 5px 10px 18px #d3d3d3
    }

    .image-upload {
      display: flex;
      margin-right: 20px;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 180px;
      background-color: #ffffff;
      box-shadow: 5px 10px 18px #d3d3d3;
      label{
      }
      img {
        width: 50px;
        &:hover{
          cursor: pointer;
        }
      }

      input {
        display: none;
      }
    }
  }
  button{
    margin-top: 30px;
    border: none;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    outline: none;
    cursor: pointer;
    max-width: 50%;
    margin-bottom: 30px;
  }
}
